* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
}

.heading{
    color: aliceblue;
}

.txt-area{
    resize: none;
    padding: 10px;
    height: 30vh;
    width: 100%;
    border-radius: 10px;
}

.text-center{
    font-weight: bold;
}

