.pagi-container {
  display: flex;
  justify-content: center;
  padding: 4px 4px;
}

.page-link {
  border: rgba(108, 122, 122, 0.517) solid 1px;
  color: black;
  text-decoration: none;
  padding: 3px 15px;
  color: rgb(109, 188, 214);
  cursor: pointer;
}

.previous {
  border-radius: 6px 0 0 6px;
}
.next {
  border-radius: 0 6px 6px 0;
}


.tab{
  margin: auto;
  width:60%;
}

#title,#description{
  text-align: center;
}

thead,tr,td{
  text-align: center;
}
